#### DB Scan Algorithm

DB Scan Clustering - Unsupervised Learining

In [3]:
import numpy as np 
import pandas as pd

In [5]:
## Load the dataset 
df = pd.read_csv('Mall_Customers.csv')
df.head()

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [17]:
x=df.iloc[:,[3,4]].values  ## .values make it numpy.ndarray

In [19]:
## Using the Elbow method, find the optimal number of clusters
from sklearn.cluster import DBSCAN
dbscan = DBSCAN(eps=3,min_samples=4)

In [21]:
## Fitting the model 
model = dbscan.fit(x)

In [25]:
labels = model.labels_

In [29]:
from sklearn import metrics

In [31]:
## Identify the points which make up core points
sample_cores = np.zeros_like(labels,dtype=bool) ## returns an array of zeros with same shape and type of given array

In [33]:
sample_cores[dbscan.core_sample_indices_]=True

In [39]:
## Calculate the number of clusters 
n_clusters = len(set(labels))-(1 if -1 in labels else 0)
n_clusters

9

In [37]:
print(metrics.silhouette_score(x,labels))

-0.1908319132560097